.admin-partitions
  padding: 16px 0

  &__header
    margin-bottom: 16px

  &__form
    display: flex
    flex-wrap: wrap
    gap: 8px
    align-items: flex-start
    margin-bottom: 16px

  &__table
    width: 100%